body {
    max-width: 1170px;
    wodth: 100%;
    margin: 10px auto 50px auto; 
    text-align: center;
}

/* css comuni  */
img {
    height: 200px;
    padding: 20px;
}
h1, 
h2 {
    padding: 10px 0 0 0;
    margin: 50px 0 0 0;
}

header h3, 
main h3 {
    padding: 5px 0 20px 0;
}

p {
    padding: 0 10px;
}

hr {
    width: 95%;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
    background-color: #428BCA;
}
/* css dedicato al footer  */
footer img {
    margin-top: 50px;
}
footer h3 {
    padding: 20px 0 20px 0;
}

/* xs */
@media screen and (max-width: 767px){
    body {
        width: 100%;
        max-width: 767px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    p {
        padding: 0 20px;
    }
    h1 {
        margin: 5px 0;
    }

    header {
        padding-bottom: 15px;
        background-color: #F2F2CD;
    }
    footer {
        background-color: #F2F2CD;
    }
    footer h2 {
        margin-top: 10px;
    }

    .ultimo {
        padding-bottom: 40px;
    }
    main h2 {
        margin-top: 35px;
    }

}

    
}